/Users/SamWitte/Desktop/GC_Excess_Constraints/GC_models/Input_Data/*
/Users/SamWitte/Desktop/GC_Excess_Constraints/GC_models/Output/*
/Users/SamWitte/Desktop/GC_Excess_Constraints/GC_models/Plots/*
*.pyc
/Users/SamWitte/Desktop/GC_Excess_Constraints/Notes/*
/Users/SamWitte/Desktop/GC_Excess_Constraints/CrossSecs/*